<div
  class="task-item"
  (dblclick)="editOn(task)"
  matTooltipShowDelay="500"
  matTooltipHideDelay="500"
  matTooltip="Double Click to Edit"
  [cdkDragDisabled]="dragDisabled"
  cdkDrag
  cdkDragHandle
>
  @if (task.editing) {
  <input
    placeholder="Enter Task Name"
    class="edit-input"
    type="text"
    [value]="task.title"
    (keyup.enter)="editOff($event, task)"
    (blur)="editOff($event, task)"
    ngAutoFocus
  />
  <mat-icon
    (click)="cancelEdit(task)"
    class="pointer font-medium color-orange flex-center"
    fontIcon="close"
  />
  } @else {
  <span class="task-text">{{ task.title }}</span>
  }
  <div class="actions">
    <mat-icon
      (click)="deleteTask(task)"
      class="pointer font-medium color-red flex-center"
      fontIcon="delete"
    />
  </div>
</div>
