<div class="row">
  <div class="status">
    <div class="title">
      <h2>To Do</h2>
    </div>
    <div
      cdkDropList
      #backlogList="cdkDropList"
      id="backlogList"
      [cdkDropListConnectedTo]="['todoList', 'doneList']"
      [cdkDropListData]="data.backlog"
      class="tasks"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of data.backlog; track task ; let i = $index){
      <app-task-item
        (updatedTask)="saveTask(task)"
        (deletedTask)="deleteTask(task, i, 'to-do')"
        [taskItem]="task"
      />
      }
      <div (click)="addBacklog()" style="cursor: pointer" class="add-task">
        <mat-icon>add</mat-icon>
      </div>
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>Progress</h2>
    </div>
    <div
      cdkDropList
      #todoList="cdkDropList"
      id="todoList"
      [cdkDropListConnectedTo]="['doneList', 'backlogList']"
      [cdkDropListData]="data.inProgress"
      class="tasks"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of data.inProgress; track task ; let i = $index){
      <app-task-item
        (updatedTask)="saveTask(task)"
        (deletedTask)="deleteTask(task, i, 'in-progress')"
        [taskItem]="task"
      />
      }
    </div>
  </div>
  <div class="status">
    <div class="title">
      <h2>Done</h2>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      id="doneList"
      [cdkDropListConnectedTo]="['todoList', 'backlogList']"
      [cdkDropListData]="data.completed"
      class="tasks"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of data.completed; track task ; let i = $index){
      <app-task-item
        (updatedTask)="saveTask(task)"
        (deletedTask)="deleteTask(task, i, 'done')"
        [taskItem]="task"
      />
      }
    </div>
  </div>
</div>
