@use '@angular/material' as mat;
@include mat.core();
html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  
  h2 {
    margin: 0;
  }
  
  .flex-fill {
    flex: 1;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  .font-medium {
    font-size: medium;
  }
  
  .color-red {
    color: red;
  }